/* Style */
header {
	background: var(--color-bg);
	margin-bottom: 4px;
}
header nav {
	padding: 0 1rem;
	height: 60px;
}
header nav ul {
	margin-left: auto;
}
header nav p {
	color: var(--color-bg-heading);
	padding-left: 20px;
}
h1.title {
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	background: var(--color-bg);
	margin: 0;
	padding: 32px 0;
}
h1.title span {
	color: var(--color-pantries);
}
main {
	padding: 1.5rem 0;
	max-width: var(--width-content);
}
section {
	padding: 32px;
	margin: 32px 0;
	border-radius: var(--border-radius);
}
section .icon {
	flex-basis: 100%;
}
section h2 {
	flex-basis: 100%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.mission {
	color: #fff;
	background: var(--color-pantries);
}
.team {
	color: var(--color-bg-heading);
}
.team h2 {
	color: var(--color-pantries);
}
.partners {
	background: var(--color-bg);
	padding: 48px 32px;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.partners h2 {
	color: var(--color-bg-heading);
	margin-bottom: 60px;
}
.partners .logo {
	max-width: 100%;
	height: 100%;
	margin-bottom: 40px;
}
footer {
	background: var(--color-bg);
	position: relative;
}
footer nav {
	padding: 1.5rem 1rem;
	justify-content: space-between;
	align-items: flex-start;
}
footer nav li {
	display: block;
	text-align: right;
	text-transform: uppercase;
}
footer nav a {
	text-decoration: none;
}
@media only screen and (min-width: 64em) {
	.partners {
		flex-direction: row;
	}
	.partners .logo {
		margin-bottom: 0;
	}
	footer nav {
		justify-content: center;
    	align-items: center;
	}
	footer nav li {
		display: inline-block;
	}
	.footer-logo {
		position: absolute;
		left: 1rem;
	}
}
@media only screen and (min-width: 75em) {
	main {
		padding: 1.5rem 2rem;
	}
}