version: "3.2"
services:
  api:
    image: jred/fola
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: local
      DATABASE_URL: postgres://fola:pgpass@db:5432/food
      POSTGRES_USERNAME: fola
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DATABASE: food
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      WAIT_FOR: db:5432

    links:
      - db
    depends_on:
      - db
    networks:
      - backend
    ports:
      - "5000:5000"
    volumes:
      - ./:/fola
      - /fola/node_modules
    command: npx nodemon -w /fola/server.js -w /fola/app -w /fola/middleware -L server.js

  db:
    image: postgres:11
    restart: always
    ports:
      # exposed on localhost 5433
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DB: food
    networks:
      - backend

networks:
  backend:
