# Not a full .env.example, only shows CORS_ALLOWED_ORIGINS

CORS_ALLOWED_ORIGINS=http://localhost:3000,https://foodoasis.la,https://foodoasis.net,https://la.foodoasis.net,https://sb.foodoasis.net,https://mck.foodoasis.net,https://devla.foodoasis.net
