@import url("https://fonts.googleapis.com/css?family=Open+Sans|Reem+Kufi&display=swap");

body {
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapboxgl-popup-content {
  padding-right: 48px;
}

.mapboxgl-popup-content h4 {
  margin-top: 8px;
}

.mapboxgl-popup-close-button {
  font-size: 32px;
  padding-top: 4px;
  font-weight: bold;
  padding-right: 8px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact::after {
  display: none;
}

button.mapboxgl-ctrl-attrib-button {
  top: auto;
  bottom: 0;
}

.mobile-text {
  display: none;
}

@media (max-width: 600px) {
  div.mapboxgl-control-container {
    display: none;
  }
}
