# build and push a docker image from the latest push to "develop" branch
# this script is not currently used, as the web app is running on Heroku

on:
  push:
    branches:
      - main
      - develop
  release:
    types:
      - published
jobs:
  webapi:
    runs-on: ubuntu-latest
    name: Build and push Web API Container to Docker Hub
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build-and-push-image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile-jared
          push: true
          tags: |
            foodoasisla/foodoasisla:${{ github.ref_name }}
            foodoasisla/foodoasisla:${{ github.sha }}
          labels: |
            description=Food Oasis
            maintained=foodoasis+hub@hackforla.org
