# build and push a docker image from the latest push to "develop" branch
# this script is not currently used, as the web app is running on Heroku

on:
  push:
    branches:
      - main
      - develop
  release:
    types:
      - published
jobs:
  webapi:
    runs-on: ubuntu-22.04
    name: Build and push Web API Container to Docker Hub
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: build-and-push-image
        uses: docker/build-push-action@v1
        with:
          dockerfile: ./Dockerfile-jared
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: foodoasisla/foodoasisla
          tag_with_ref: true
          tag_with_sha: true
          add_git_labels: true
          labels: description="Food Oasis",maintained="foodoasis+hub@hackforla.org"
