# build and push a docker image from the latest push to "develop" branch
on:
  push:
    branches:
      - main
      - develop
  release:
    types:
      - published
jobs:
  webapi:
    runs-on: ubuntu-latest
    name: build & push image
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: build-and-push-image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: foodoasisla/foodoasisla
          tag_with_ref: true
          tag_with_sha: true
          add_git_labels: true
          labels: description="Food Oasis LA",maintained="foodoasis+hub@hackforla.org"
  fullstack:
    runs-on: ubuntu-latest
    name: build & push image
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: build-and-push-image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: foodoasisla/foodoasisla
          dockerfile: ./Dockerfile-fullstack
          tag_with_ref: true
          tag_with_sha: true
          add_git_labels: true
          labels: description="Food Oasis LA",maintained="foodoasis+hub@hackforla.org"
